<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>

    <h1>Sample Flask App</h1>

    <div class="grid">
        <div class="container">
            <h3>basic request</h3>
            <div class="form">
                
                <div id="resultArea1"></div>
            </div>
        </div>

        <div class="container">
            <h3>average request</h3>
            <div class="form">
                <label for="average_input">Enter anything
                   <input id="input2" type="text" name="average_input"> 
                </label>
                <button id="button2">click me</button>
                <div id="resultArea2"></div>
            </div>
        </div>
    </div>
    
</body>
<script src="./static/js/main.js"></script>
</html>